@import "../../Styles/sass/mixins";

@keyframes cardswipe {
  100% {
    transform: translate(5vw, 10vh) rotate(0);
  }
}

@keyframes cardreverseswipe {
  0% {
    transform: translate(5vw, 10vh) rotate(0);
  }
  100% {
    transform: translate(0, 0) rotate(-45deg);
  }
}

@keyframes cardrotate {
  100% {
    transform: rotateX(15deg) rotateY(10deg);
  }
}

@keyframes cardreverserotate {
  0% {
    transform: rotateX(15deg) rotateY(10deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(15deg);
  }
}

@keyframes swipemovedown {
  100% {
    transform: rotate(-35deg) translate(5vw, 10vh);
  }
}

@keyframes swipereversemovedown {
  0% {
    transform: rotate(-35deg) translate(5vw, 10vh);
  }
  100% {
    transform: rotate(-35deg) translate(5vw, 5vh);
  }
}

@keyframes tabletmoveup {
  100% {
    transform: rotate(-35deg) translate(8vw, 7vh);
  }
}

@keyframes tabletreversemoveup {
  0% {
    transform: rotate(-35deg) translate(8vw, 7vh);
  }
  100% {
    transform: rotate(-35deg) translate(8vw, 12vh);
  }
}

@keyframes textfadein {
  0% {
    transform: translateY(10vh);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes borderround {
  20% {
    border-radius: 0.6rem;
  }
  40% {
    border-radius: 1.2rem;
  }
  60% {
    border-radius: 1.8rem;
  }
  80% {
    border-radius: 2.4rem;
  }
  100% {
    border-radius: 3rem;
  }
}

@keyframes borderflat {
  0% {
    border-radius: 0;
  }
  20% {
    border-radius: 0.6rem;
  }
  40% {
    border-radius: 1.2rem;
  }
  60% {
    border-radius: 1.8rem;
  }
  80% {
    border-radius: 2.4rem;
  }
}

@keyframes videoshrink {
  20% {
    transform: scale(0.96);
  }
  40% {
    transform: scale(0.92);
  }
  60% {
    transform: scale(0.88);
  }
  80% {
    transform: scale(0.84);
  }
  100% {
    transform: scale(0.8);
  }
}

@keyframes videoexpand {
  0% {
    transform: scale(0.8);
  }
  20% {
    transform: scale(0.84);
  }
  40% {
    transform: scale(0.88);
  }
  60% {
    transform: scale(0.92);
  }
  80% {
    transform: scale(0.96);
  }
}

@keyframes navbarexpand {
  0% {
    width: 0;
  }

  100% {
    width: 45vw;
  }
}

@keyframes navbarshrink {
  0% {
    width: 45vw;
  }

  100% {
    width: 0;
  }
}

// MEDIA QUERIES

@include media-ml {
  @keyframes tabletmoveup {
    100% {
      transform: rotate(-35deg) translate(15vw, 7vh);
    }
  }

  @keyframes tabletreversemoveup {
    0% {
      transform: rotate(-35deg) translate(15vw, 7vh);
    }
    100% {
      transform: rotate(-35deg) translate(15vw, 12vh);
    }
  }
}

@include media-md {
  @keyframes cardswipe {
    100% {
      transform: translate(7vw, 5vh);
    }
  }
}

@include media-sl {
  @keyframes swipemovedown {
    100% {
      transform: rotate(-35deg) translate(11vw, 3vh);
    }
  }

  @keyframes tabletmoveup {
    100% {
      transform: rotate(-35deg) translate(15vw, 0vh);
    }
  }

  @keyframes swipereversemovedown {
    0% {
      transform: rotate(-35deg) translate(11vw, 3vh);
    }
    100% {
      transform: rotate(-35deg) translate(11vw, -2vh);
    }
  }

  @keyframes tabletreversemoveup {
    0% {
      transform: rotate(-35deg) translate(15vw, 0vh);
    }
    100% {
      transform: rotate(-35deg) translate(15vw, 5vh);
    }
  }

  @keyframes navbarexpand {
    0% {
      width: 0;
    }

    100% {
      width: 70vw;
    }
  }

  @keyframes navbarshrink {
    0% {
      width: 70vw;
    }

    100% {
      width: 0;
    }
  }
}

@include media-ss {
  @keyframes tabletmoveup {
    100% {
      transform: rotate(-35deg) translate(15vw, 2vh);
    }
  }
}
