$light: #fff;
$dark: #171717;
$orange: #FF7970;
$blue: #0062DB;
$bgcolor: #FFF9F8;
$lightbgcolor: #FFF1F0;
$grey: #F2F2F2;
$placeholder: #707070;
$dashboardtext: #575757;
$red: #DB0000;
$violet: #60034C;
$purple: #262E57;
$navlink: #AAAAAA;
$moblink: #BDBDBD;

$main_font: 'Poppins', sans-serif;
$secondary_font: 'Rubik', sans-serif;
$tertiary_font: 'Space Grotesk', sans-serif;
$text_size: 1rem;