@import "../../styles/mixins";

.feedback {
  &-label {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #1a1a1a;
  }
  &-rating {
    @include flex(center, center, row);
    &-filled {
      // background: url("../../assets/icons/FilledStar.png");
    }
    &-empty {
      // background: url("../../assets/icons/EmptyStar.png");
    }
    &-filled,
    &-empty {
      display: block;
      background-repeat: no-repeat;
      height: 20px;
      width: 30px;
      object-fit: contain;
    }
    &-pending {
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 15px;
      color: #797979;
    }
  }
}
